wwwwwwwwww!Build/
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
*.o
*.pm.tdy
*.bs

# Devel::Cover
cover_db/

# Devel::NYTProf
nytprof.out

# Dizt::Zilla
/.build/

# Module::Build
_build/
Build
Build.bat

# Module::Install
inc/

# ExtUtils::MakeMaker
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
/venv/
/example_docs/
/peakpython_output/
/simple_html_coverage/
/tetscript_output/
/testcases.log
/tetscript.log
/tetscript.py
/things_to_do.txt
/peakrdl_python.egg-info/
/.pypirc

# Test output
/testcase_output/
/tests/testcases.log

# Python
__pycache__/

# Vim swapfiles
.*.sw[a-p]
/example/overridden_names/over_ridden_names/
/example/simulating_callbacks/mychip/
/example/tranversing_address_map/chip_with_registers/
/generate_and_test_output/
