{#
peakrdl-python is a tool to generate Python Register Access Layer (RAL) from SystemRDL
Copyright (C) 2021 - 2025

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}
{%- macro peakrdl_python_lib(depth) -%}
{% if skip_lib_copy %}peakrdl_python.{% else %}.{{ '.' * depth }}{% endif %}lib
{%- endmacro -%}

{%- macro peakrdl_python_sim_lib(depth) -%}
{% if skip_lib_copy %}peakrdl_python.{% else %}.{{ '.' * depth }}{% endif %}sim_lib
{%- endmacro -%}

{%- macro peakrld_version_check(depth) %}
from {% if skip_lib_copy %}peakrdl_python.{% else %}.{{ '.' * depth }}{% endif %}__about__ import __version__
if __version__ != '{{version}}':
    raise RuntimeError('Library built with peakrdl-python version {{version}} however '
                        f'version {__version__} is installed')

{%- endmacro -%}